<h1>Enlaces a componentes</h1>
<ul>
    <button [routerLink]="['interpolacion']">Interpolacion</button>
    <br><br>
    <button [routerLink]="['onewaybinding']">One way binding</button>
    <br><br>
    <button [routerLink]="['evento']">Evento</button>
    <br><br>
    <button [routerLink]="['twowaybinding']">Two way binding</button>
    <br><br>
    <button [routerLink]="['servicio']">Servicio</button>
    <br><br>
    <button [routerLink]="['directivas']">Directivas</button>
    <br><br>
    <button [routerLink]="['un_atributo']">Un parametro</button>
    <br><br>
    <button [routerLink]="['dos_atributos']">Dos parametros</button>
</ul>
<hr>
<router-outlet>